.p-card {
    background: theme(colors.skin.base.DEFAULT);
    color: theme(colors.skin.base.content);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 6px;
}
.p-card .p-card-body {
    padding: 1.25rem;
}
.p-card .p-card-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.p-card .p-card-subtitle {
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: theme(colors.skin.base.content);
}
.p-card .p-card-content {
    padding: 1.25rem 0;
}
.p-card .p-card-footer {
    padding: 1.25rem 0 0 0;
}
