.p-checkbox {
    width: 22px;
    height: 22px;
}
.p-checkbox .p-checkbox-box {
    border: 2px solid theme(colors.skin.base.200);
    background: theme(colors.skin.base.DEFAULT);
    width: 22px;
    height: 22px;
    color: theme(colors.skin.base.content);
    border-radius: 6px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
}
.p-checkbox .p-checkbox-box .p-checkbox-icon {
    transition-duration: 0.2s;
    color: theme(colors.skin.base.DEFAULT);
    font-size: 14px;
}
.p-checkbox .p-checkbox-box.p-highlight {
    border-color: theme(colors.skin.primary.DEFAULT);
    background: theme(colors.skin.primary.DEFAULT);
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: theme(colors.skin.primary.DEFAULT);
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem theme(colors.skin.base.200);
    border-color: theme(colors.skin.primary.DEFAULT);
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: theme(colors.skin.primary.focus);
    background: theme(colors.skin.primary.focus);
    color: theme(colors.skin.base.DEFAULT);
}
.p-checkbox.p-invalid > .p-checkbox-box {
    border-color: theme(colors.skin.error.DEFAULT);
}

.p-input-filled .p-checkbox .p-checkbox-box {
    background-color: theme(colors.skin.base.100);
}
.p-input-filled .p-checkbox .p-checkbox-box.p-highlight {
    background: theme(colors.skin.primary.DEFAULT);
}
.p-input-filled .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    background-color: theme(colors.skin.base.100);
}
.p-input-filled
    .p-checkbox:not(.p-checkbox-disabled)
    .p-checkbox-box.p-highlight:hover {
    background: theme(colors.skin.primary.focus);
}
