.p-datatable {
    background: theme(colors.skin.base.100);
    border: 1px solid theme(colors.skin.base.200);
}

.p-datatable .p-paginator-top {
    border-width: 0 0 1px 0;
    border-radius: 0;
}
.p-datatable .p-paginator-bottom {
    border-width: 0 0 0 0;
    border-radius: 0;
}
.p-datatable .p-datatable-header {
    /* background: theme(colors.skin.base.100); */
    color: theme(colors.skin.base.content);
    border: 1px solid theme(colors.skin.base.200);
    border-width: 1px 0 1px 0;
    padding: 1rem 1rem;
    font-weight: 700;
}
.p-datatable .p-datatable-footer {
    background: theme(colors.skin.base.300);
    color: theme(colors.skin.base.content);
    border: 1px solid theme(colors.skin.base.100);
    border-width: 0 0 1px 0;
    padding: 1rem 1rem;
    font-weight: 700;
}
.p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid theme(colors.skin.base.100);
    border-width: 0 0 1px 0;
    font-weight: 700;
    color: theme(colors.skin.base.content);
    background: theme(colors.skin.base.100);
    transition: box-shadow 0.2s;
}
.p-datatable .p-datatable-tfoot > tr > td {
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid theme(colors.skin.base.100);
    border-width: 0 0 1px 0;
    font-weight: 700;
    color: theme(colors.skin.base.content);
    background: theme(colors.skin.base.100);
}
.p-datatable .p-sortable-column .p-sortable-column-icon {
    color: theme(colors.skin.base.content);
    margin-left: 0.5rem;
}
.p-datatable .p-sortable-column .p-sortable-column-badge {
    border-radius: 50%;
    height: 1.143rem;
    min-width: 1.143rem;
    line-height: 1.143rem;
    color: theme(colors.skin.primary.DEFAULT);
    background: theme(colors.skin.base.200);
    margin-left: 0.5rem;
}
.p-datatable .p-sortable-column:not(.p-highlight):hover {
    background: theme(colors.skin.base.200);
    color: theme(colors.skin.base.content);
}
.p-datatable
    .p-sortable-column:not(.p-highlight):hover
    .p-sortable-column-icon {
    color: theme(colors.skin.base.content);
}
.p-datatable .p-sortable-column.p-highlight {
    background: theme(colors.skin.base.200);
    color: theme(colors.skin.primary.DEFAULT);
}
.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
    color: theme(colors.skin.primary.DEFAULT);
}
.p-datatable .p-sortable-column.p-highlight:hover {
    background: theme(colors.skin.base.200);
    color: theme(colors.skin.primary.DEFAULT);
}
.p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
    color: theme(colors.skin.primary.DEFAULT);
}
.p-datatable .p-sortable-column:focus {
    box-shadow: inset 0 0 0 0.15rem #bfdbfe;
    outline: 0 none;
}
.p-datatable .p-datatable-tbody > tr {
    background: theme(colors.skin.base.DEFAULT);
    color: theme(colors.skin.base.content);
    transition: box-shadow 0.2s;
}
.p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid theme(colors.skin.base.100);
    border-width: 0 0 1px 0;
    padding: 1rem 1rem;
}
.p-datatable .p-datatable-tbody > tr > td .p-row-toggler,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel {
    width: 2rem;
    height: 2rem;
    color: theme(colors.skin.base.content);
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-datatable .p-datatable-tbody > tr > td .p-row-toggler:enabled:hover,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init:enabled:hover,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save:enabled:hover,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel:enabled:hover {
    color: theme(colors.skin.base.content);
    border-color: transparent;
    background: theme(colors.skin.base.200);
}
.p-datatable .p-datatable-tbody > tr > td .p-row-toggler:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #bfdbfe;
}
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save {
    margin-right: 0.5rem;
}
.p-datatable .p-datatable-tbody > tr > td > .p-column-title {
    font-weight: 700;
}
.p-datatable .p-datatable-tbody > tr:focus {
    outline: 0.15rem solid #bfdbfe;
    outline-offset: -0.15rem;
}
.p-datatable .p-datatable-tbody > tr.p-highlight {
    background: theme(colors.skin.base.200);
    color: theme(colors.skin.primary.DEFAULT);
}
.p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-top > td {
    box-shadow: inset 0 2px 0 0 theme(colors.skin.base.200);
}
.p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-bottom > td {
    box-shadow: inset 0 -2px 0 0 theme(colors.skin.base.200);
}
.p-datatable.p-datatable-hoverable-rows
    .p-datatable-tbody
    > tr:not(.p-highlight):hover {
    background: theme(colors.skin.base.200);
    color: theme(colors.skin.base.content);
}
.p-datatable .p-column-resizer-helper {
    background: theme(colors.skin.info.DEFAULT);
}
.p-datatable .p-datatable-scrollable-header,
.p-datatable .p-datatable-scrollable-footer {
    background: theme(colors.skin.base.100);
}
.p-datatable.p-datatable-scrollable
    > .p-datatable-wrapper
    > .p-datatable-table
    > .p-datatable-thead,
.p-datatable.p-datatable-scrollable
    > .p-datatable-wrapper
    > .p-datatable-table
    > .p-datatable-tfoot,
.p-datatable.p-datatable-scrollable
    > .p-datatable-wrapper
    > .p-virtualscroller
    > .p-datatable-table
    > .p-datatable-thead,
.p-datatable.p-datatable-scrollable
    > .p-datatable-wrapper
    > .p-virtualscroller
    > .p-datatable-table
    > .p-datatable-tfoot {
    background-color: theme(colors.skin.base.100);
}
.p-datatable .p-datatable-loading-icon {
    font-size: 2rem;
}
.p-datatable.p-datatable-gridlines .p-datatable-header {
    border-width: 1px 1px 0 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-footer {
    border-width: 0 1px 1px 1px;
}
.p-datatable.p-datatable-gridlines .p-paginator-top {
    border-width: 0 1px 0 1px;
}
.p-datatable.p-datatable-gridlines .p-paginator-bottom {
    border-width: 0 1px 1px 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
    border-width: 1px 1px 1px 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
    border-width: 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-tfoot > tr > td {
    border-width: 1px;
}
.p-datatable.p-datatable-gridlines.p-datatable-scrollable
    .p-datatable-thead
    > tr
    > th
    + th {
    border-left-width: 0;
}
.p-datatable.p-datatable-gridlines.p-datatable-scrollable
    .p-datatable-tbody
    > tr
    > td
    + td {
    border-left-width: 0;
}
.p-datatable.p-datatable-gridlines.p-datatable-scrollable
    .p-datatable-tbody
    > tr
    + tr
    > td,
.p-datatable.p-datatable-gridlines.p-datatable-scrollable
    .p-datatable-tbody
    > tr:first-child
    > td {
    border-top-width: 0;
}
.p-datatable.p-datatable-gridlines.p-datatable-scrollable
    .p-datatable-tfoot
    > tr
    > td
    + td {
    border-left-width: 0;
}
.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
    background: theme(colors.skin.base.100);
}
.p-datatable.p-datatable-striped
    .p-datatable-tbody
    > tr:nth-child(even).p-highlight {
    background: theme(colors.skin.base.200);
    color: theme(colors.skin.primary.DEFAULT);
}
.p-datatable.p-datatable-striped
    .p-datatable-tbody
    > tr:nth-child(even).p-highlight
    .p-row-toggler {
    color: theme(colors.skin.primary.DEFAULT);
}
.p-datatable.p-datatable-striped
    .p-datatable-tbody
    > tr:nth-child(even).p-highlight
    .p-row-toggler:hover {
    color: theme(colors.skin.primary.DEFAULT);
}
.p-datatable.p-datatable-sm .p-datatable-header {
    padding: 0.5rem 0.5rem;
}
.p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
    padding: 0.5rem 0.5rem;
}
.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
    padding: 0.5rem 0.5rem;
}
.p-datatable.p-datatable-sm .p-datatable-tfoot > tr > td {
    padding: 0.5rem 0.5rem;
}
.p-datatable.p-datatable-sm .p-datatable-footer {
    padding: 0.5rem 0.5rem;
}
.p-datatable.p-datatable-lg .p-datatable-header {
    padding: 1.25rem 1.25rem;
}
.p-datatable.p-datatable-lg .p-datatable-thead > tr > th {
    padding: 1.25rem 1.25rem;
}
.p-datatable.p-datatable-lg .p-datatable-tbody > tr > td {
    padding: 1.25rem 1.25rem;
}
.p-datatable.p-datatable-lg .p-datatable-tfoot > tr > td {
    padding: 1.25rem 1.25rem;
}
.p-datatable.p-datatable-lg .p-datatable-footer {
    padding: 1.25rem 1.25rem;
}
