.p-inputtext {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    font-size: 1rem;
    color: theme(colors.skin.base.content);
    background: theme(colors.skin.base.DEFAULT);
    padding: 0.75rem 0.75rem;
    border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
    appearance: none;
    border-radius: 6px;
}
.p-inputtext:enabled:hover {
    border-color: theme(colors.skin.info.DEFAULT);
}
.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #bfdbfe;
    border-color: theme(colors.skin.info.DEFAULT);
}
.p-inputtext.p-invalid.p-component {
    border-color: theme(colors.skin.error.DEFAULT);
}
.p-inputtext.p-inputtext-sm {
    font-size: 0.875rem;
    padding: 0.65625rem 0.65625rem;
}
.p-inputtext.p-inputtext-lg {
    font-size: 1.25rem;
    padding: 0.9375rem 0.9375rem;
}

.p-float-label > label {
    left: 0.75rem;
    color: theme(colors.skin.base.content);
    transition-duration: 0.2s;
}

.p-float-label > .p-invalid + label {
    color: theme(colors.skin.error.DEFAULT);
}

.p-input-icon-left > i:first-of-type {
    left: 0.75rem;
    color: theme(colors.skin.base.content);
}

.p-input-icon-left > .p-inputtext {
    padding-left: 2.5rem;
}

.p-input-icon-left.p-float-label > label {
    left: 2.5rem;
}

.p-input-icon-right > i:last-of-type {
    right: 0.75rem;
    color: theme(colors.skin.base.content);
}

.p-input-icon-right > .p-inputtext {
    padding-right: 2.5rem;
}

::-webkit-input-placeholder {
    color: theme(colors.skin.base.content);
}

:-moz-placeholder {
    color: theme(colors.skin.base.content);
}

::-moz-placeholder {
    color: theme(colors.skin.base.content);
}

:-ms-input-placeholder {
    color: theme(colors.skin.base.content);
}

.p-input-filled .p-inputtext {
    background-color: theme(colors.skin.base.200);
}
.p-input-filled .p-inputtext:enabled:hover {
    background-color: theme(colors.skin.base.200);
}
.p-input-filled .p-inputtext:enabled:focus {
    background-color: theme(colors.skin.base.DEFAULT);
}

.p-inputtext-sm .p-inputtext {
    font-size: 0.875rem;
    padding: 0.65625rem 0.65625rem;
}

.p-inputtext-lg .p-inputtext {
    font-size: 1.25rem;
    padding: 0.9375rem 0.9375rem;
}
