/* fix primevue sgv icon update */
.p-input-icon-right > svg:last-of-type,
.p-input-icon-right > i:last-of-type {
    right: 0.75rem;
}

/* toast */
.p-toast {
    z-index: 10;
}

/* dialog */
.p-dialog-mask.p-component-overlay {
    z-index: 99;
}

.p-confirm-dialog .p-confirm-dialog-accept {
    background: theme(colors.skin.error.DEFAULT);
    border: theme(colors.skin.error.focus);
}

.p-confirm-dialog .p-confirm-dialog-accept:hover {
    background: theme(colors.skin.error.focus);
}

.p-confirm-dialog .p-confirm-dialog-accept:focus {
    box-shadow: 0 0 0 0.2rem theme(colors.skin.error.focus);
}

/* tooltip */
.p-tooltip .p-tooltip-text {
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
}

/* sidebar */
.p-sidebar {
    z-index: 98 !important;
}

.p-sidebar-left {
    width: 16rem !important;
}

.p-sidebar .p-sidebar-header {
    padding: 0;
}

.p-sidebar .p-sidebar-content {
    padding: 0;
}

/* card */
.p-card .p-card-footer {
    padding-top: 0;
}

.p-card .p-card-body {
    padding: 2rem 2rem;
}

/* datatable */
.p-datatable {
    border-radius: 0.428rem;
}

.p-datatable .p-datatable-header {
    border-top: none;
    padding: 1.5rem 1rem;
}

/* paginator */
.p-paginator {
    padding: 1rem;
}
