.p-password.p-invalid.p-component > .p-inputtext {
    border-color: theme(colors.skin.error.DEFAULT);
}

.p-password-panel {
    padding: 1.25rem;
    background: theme(colors.skin.base.DEFAULT);
    color: theme(colors.skin.base.content);
    border: 0 none;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
.p-password-panel .p-password-meter {
    margin-bottom: 0.5rem;
    background: theme(colors.skin.base.100);
}
.p-password-panel .p-password-meter .p-password-strength.weak {
    background: theme(colors.skin.error.DEFAULT);
}
.p-password-panel .p-password-meter .p-password-strength.medium {
    background: theme(colors.skin.warning.DEFAULT);
}
.p-password-panel .p-password-meter .p-password-strength.strong {
    background: theme(colors.skin.success.DEFAULT);
}

.p-input-icon-right > svg:last-of-type,
.p-input-icon-right > i:last-of-type {
    right: 0.75rem;
}
