.p-sidebar {
    background: theme(colors.skin.base.100);
    color: theme(colors.skin.base.content);
    border: 0 none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.p-sidebar .p-sidebar-header {
    padding: 1.25rem;
}
.p-sidebar .p-sidebar-header .p-sidebar-close,
.p-sidebar .p-sidebar-header .p-sidebar-icon {
    width: 2rem;
    height: 2rem;
    color: theme(colors.skin.base.content);
    /* border: 0 none; */
    border: solid 3px theme(colors.skin.neutral.DEFAULT);
    background: transparent;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    z-index: 10;
}
.p-sidebar .p-sidebar-header .p-sidebar-close:enabled:hover,
.p-sidebar .p-sidebar-header .p-sidebar-icon:enabled:hover {
    color: theme(colors.skin.neutral.DEFAULT);
    border-color: transparent;
    background: theme(colors.skin.base.100);
}
.p-sidebar .p-sidebar-header .p-sidebar-close:focus,
.p-sidebar .p-sidebar-header .p-sidebar-icon:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem theme(colors.skin.base.200);
}
.p-sidebar .p-sidebar-header + .p-sidebar-content {
    padding-top: 0;
}
.p-sidebar .p-sidebar-content {
    padding: 1.25rem;
}
