.p-toast {
    opacity: 0.9;
}
.p-toast .p-toast-message {
    margin: 0 0 1rem 0;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
.p-toast .p-toast-message .p-toast-message-content {
    padding: 1rem;
    border-width: 0 0 0 6px;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
    margin: 0 0 0 1rem;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
    font-size: 2rem;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
    font-weight: 700;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
    margin: 0.5rem 0 0 0;
}
.p-toast .p-toast-message .p-toast-icon-close {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: transparent;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-toast .p-toast-message .p-toast-icon-close:hover {
    background: rgba(255, 255, 255, 0.3);
}
.p-toast .p-toast-message .p-toast-icon-close:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #bfdbfe;
}
.p-toast .p-toast-message.p-toast-message-info {
    background: theme(colors.skin.base.DEFAULT);
    border: solid theme(colors.skin.info.DEFAULT);
    border-width: 0 0 0 6px;
    color: theme(colors.skin.info.DEFAULT);
}
.p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close {
    color: theme(colors.skin.info.DEFAULT);
}
.p-toast .p-toast-message.p-toast-message-success {
    background: theme(colors.skin.base.DEFAULT);
    border: solid theme(colors.skin.success.DEFAULT);
    border-width: 0 0 0 6px;
    color: theme(colors.skin.success.DEFAULT);
}
.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
    color: theme(colors.skin.success.DEFAULT);
}
.p-toast .p-toast-message.p-toast-message-warn {
    background: theme(colors.skin.base.DEFAULT);
    border: solid theme(colors.skin.warning.DEFAULT);
    border-width: 0 0 0 6px;
    color: theme(colors.skin.warning.DEFAULT);
}
.p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close {
    color: theme(colors.skin.warning.DEFAULT);
}
.p-toast .p-toast-message.p-toast-message-error {
    background: theme(colors.skin.base.DEFAULT);
    border: solid theme(colors.skin.error.DEFAULT);
    border-width: 0 0 0 6px;
    color: theme(colors.skin.error.DEFAULT);
}
.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
    color: theme(colors.skin.error.DEFAULT);
}
