.p-tooltip .p-tooltip-text {
    background: theme(colors.skin.neutral.DEFAULT);
    color: theme(colors.skin.neutral.content);
    padding: 0.75rem 0.75rem;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
.p-tooltip.p-tooltip-right .p-tooltip-arrow {
    border-right-color: theme(colors.skin.neutral.DEFAULT);
}
.p-tooltip.p-tooltip-left .p-tooltip-arrow {
    border-left-color: theme(colors.skin.neutral.DEFAULT);
}
.p-tooltip.p-tooltip-top .p-tooltip-arrow {
    border-top-color: theme(colors.skin.neutral.DEFAULT);
}
.p-tooltip.p-tooltip-bottom .p-tooltip-arrow {
    border-bottom-color: theme(colors.skin.neutral.DEFAULT);
}
