@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    :root {
        --color-primary-1: 253 253 254; /* #fdfdfe */
        --color-primary-2: 248 250 255; /* #f8faff */
        --color-primary-3: 240 244 255; /* #f0f4ff */
        --color-primary-4: 230 237 254; /* #e6edfe */
        --color-primary-5: 217 226 252; /* #d9e2fc */
        --color-primary-6: 198 212 249; /* #c6d4f9 */
        --color-primary-7: 174 192 245; /* #aec0f5 */
        --color-primary-8: 141 164 239; /* #8da4ef */
        --color-primary-9: 62 99 221; /* #3e63dd */
        --color-primary-10: 58 92 204; /* #3a5ccc */
        --color-primary-11: 52 81 178; /* #3451b2 */
        --color-primary-12: 31 45 92; /* #1f2d5c */

        /* 1 - App background, 2 - Subtle background */
        --color-neutral-1: 252 252 253; /* #fcfcfd */
        --color-neutral-2: 249 249 251; /* #f9f9fb */

        /* 3 - UI element background, 4 - Hovered UI element background, 5 - Active / Selected UI element background */
        --color-neutral-3: 242 242 245; /* #f2f2f5 */
        --color-neutral-4: 235 235 239; /* #ebebef */
        --color-neutral-5: 228 228 233; /* #e4e4e9 */

        /* 6 - Subtle borders and separators, 7 - UI element border and focus rings, 8 - Hovered UI element border */
        --color-neutral-6: 221 221 227; /* #dddde3 */
        --color-neutral-7: 211 212 219; /* #d3d4db */
        --color-neutral-8: 185 187 198; /* #b9bbc6 */

        /* 9 - Solid backgrounds, 10 - Hovered solid backgrounds */
        --color-neutral-9: 139 141 152; /* #8b8d98 */
        --color-neutral-10: 126 128 138; /* #7e808a */

        /* 11 - Low-contrast text, 12 - High-contrast text */
        --color-neutral-11: 96 100 108; /* #60646c */
        --color-neutral-12: 28 32 36; /* #1c2024 */

        /* Semantic Colors */
        --color-info: 0 144 255; /* #0090ff 9*/
        --color-info-dark: 5 136 240; /* #0588f0 10*/
        --color-info-light: 230 244 254; /* #e6f4fe 3*/

        --color-success: 48 164 108; /* #30a46c 9*/
        --color-success-dark: 43 154 102; /* #2b9a66 10*/
        --color-success-light: 230 246 235; /* #e6f6eb 3*/

        --color-warning: 158 108 0; /* #9e6c00 11*/
        --color-warning-dark: 71 59 31; /* #473b1f 12*/
        --color-warning-light: 255 250 184; /* #fffab8 3*/

        --color-error: 229 72 77; /* #e5484d 9*/
        --color-error-dark: 220 62 66; /* #dc3e42 10*/
        --color-error-light: 254 235 236; /* #feebec 3*/
    }

    html {
        @apply bg-skin-neutral-1 text-skin-neutral-12;
    }
}

@layer components {
    .input-error {
        @apply !ring-skin-error;
    }
}
